<div class="text-center mt-3">
    <h1>@Model.Name!</h1>
    
    <img src="http://www.catster.com/wp-content/uploads/2017/08/A-fluffy-cat-looking-funny-surprised-or-concerned.jpg" alt="Girl in a jacket">

    <h3>
       Age: 2
    </h3>

    <h3>
        Breed: Siamese
    </h3>

    Click <a asp-action="ListResponses">here</a> to see who is coming.
</div>