@model IEnumerable<Cat>
<div class="text-center m-4">
    <h1>Fluffy Duffy Munchkin Cats</h1>
    <div class="container-fluid">
        <div class="row p-1">
            <div class="col font-weight-bold">Name</div>
        </div>
        @foreach (Cat r in Model)
        {
        <ul>
            @*<li>@Html.ActionLink(cat.Name, "Details", "Cats", new { id = cat.Id }, null)</li>*@
            <li><a href="@r.ImageUrl">@r.Name</a></li>
        </ul>
        }
    </div>
    <a class="btn btn-primary" asp-action="AddCat">Add Cat</a>
</div>